.dark-high-contrast {
  --md-sys-color-primary: rgb(255 255 255);
  --md-sys-color-surface-tint: rgb(219 193 183);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(233 207 196);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(255 249 248);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(214 200 195);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 255 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(217 213 191);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 249 249);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 186 177);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(21 19 18);
  --md-sys-color-on-background: rgb(231 225 223);
  --md-sys-color-surface: rgb(21 19 18);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(79 69 65);
  --md-sys-color-on-surface-variant: rgb(255 249 248);
  --md-sys-color-outline: rgb(215 200 194);
  --md-sys-color-outline-variant: rgb(215 200 194);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(231 225 223);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(54 39 32);
  --md-sys-color-primary-fixed: rgb(252 225 214);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(223 197 187);
  --md-sys-color-on-primary-fixed-variant: rgb(32 19 13);
  --md-sys-color-secondary-fixed: rgb(243 228 222);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(214 200 195);
  --md-sys-color-on-secondary-fixed-variant: rgb(28 21 18);
  --md-sys-color-tertiary-fixed: rgb(235 231 209);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(207 203 182);
  --md-sys-color-on-tertiary-fixed-variant: rgb(24 23 10);
  --md-sys-color-surface-dim: rgb(21 19 18);
  --md-sys-color-surface-bright: rgb(59 57 56);
  --md-sys-color-surface-container-lowest: rgb(16 14 13);
  --md-sys-color-surface-container-low: rgb(29 27 26);
  --md-sys-color-surface-container: rgb(33 31 30);
  --md-sys-color-surface-container-high: rgb(44 41 41);
  --md-sys-color-surface-container-highest: rgb(55 52 51);
}
